.dropdown {
    width: 14rem;
    height: 4rem;
    border: 1px solid #B3B4BB;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    padding: 0 0.5rem;
    color: #9A999F;
}

.dropdown:focus {
    outline: none;
}